<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      layout:fragment="Content"
>
<head>
    <title>상품 리스트 페이지 </title>

</head>

<body>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">상품 리스트</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">상품 리스트 조회</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>상품명</th>
                        <th>가격</th>
                        <th>재고</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}" th:onclick="|location.href='@{/items/{id}(id=${item.id})}'|">
                        <td th:text="${item.id}" ></td>
                        <td th:text="${item.name}" ></td>
                        <td th:text="${item.price}" ></td>
                        <td th:text="${item.stock}" ></td>
                        </a>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
</body>
</html>