<!DOCTYPE html>
<!-- Default Layout Import-->
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
  layout:fragment="Content"
>
  <head>
    <title>Item</title>
  </head>

  <body>
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">상품 정보</h1>
      </div>

      <!-- Content Row -->
      <div class="row">
        <article class="col-lg-7">
          <input type="hidden" id="article-id" th:value="${item.id}" />
          <header class="mb-4">
            <h1 class="fw-bolder mb-1" th:text="${item.name}" />
            <!--          <div class="text-muted fst-italic mb-2" th:text="|Posted on ${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm')}|"/>-->
          </header>
          <section class="mb-5">
            <p class="fs-5 mb-4">상품금액</p>
            <p class="fs-5 mb-4" th:text="${item.price}" />
          </section>
          <section class="mb-5">
            <p class="fs-5 mb-4">상품재고</p>
            <p class="fs-5 mb-4" th:text="${item.stock}" />
          </section>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            th:onclick="|location.href='@{/new-item?id={itemId}(itemId=${item.id})}'|"
          >
            수정페이지로 이동
          </button>
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            id="delete-btn"
          >
            삭제
          </button>
        </article>
      </div>
    </div>
    <!-- /.container-fluid -->
  </body>
</html>
