<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      layout:fragment="Content"
>
<head>
  <title>New Item</title>

</head>

<body>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">상품 등록</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <article class="col-lg-7">
      <input type="hidden" id="article-id" th:value="${item.id}"/>
      <div class="form-group ">
        <label for="name">상품명</label>
        <input type="text" class="form-control"
               placeholder="상품명" name="name" id="name" th:value="${item.name}">
      </div>
      <div class="form-group ">
        <label for="price">상품금액</label>
        <input type="text" class="form-control"
               placeholder="금액" name="name" id="price" th:value="${item.price}">
      </div>
      <div class="form-group ">
        <label for="price">상품재고</label>
        <input type="text" class="form-control"
               placeholder="재고" name="stock" id="stock" th:value="${item.stock}">
      </div>
      <button th:if="${item.id} != null" type="button" class="btn btn-primary btn-sm"
              id="modify-btn">수정
      </button>
      <button th:if="${item.id} == null" type="button" class="btn btn-secondary btn-sm"
              id="create-btn">등록
      </button>
    </article>
  </div>
</div>
<!-- /.container-fluid -->

<script>
  const createButton = document.getElementById('create-btn');
  if(createButton) {
    createButton.addEventListener('click', event => {
      const body = JSON.stringify({
        name: document.getElementById('name').value,
        price: document.getElementById('price').value,
        stock: document.getElementById('stock').value,
      });

      function success() {
        alert('등록 되었습니다.');
        location.replace('/itemList');
      }

      function fail() {
        alert('등록 실패했습니다.');
      }

      httpRequest("POST", "/api/items", body, success, fail);
    });
  }
  const modifyButton = document.getElementById('modify-btn');
  if(modifyButton) {
    let params = new URLSearchParams(location.search);
    let id = params.get("id");

    modifyButton.addEventListener('click', event => {
      const body = JSON.stringify({
        name: document.getElementById('name').value,
        price: document.getElementById('price').value,
        stock: document.getElementById('stock').value,
      });

      function success() {
        alert('수정 되었습니다.');
        location.replace('/itemList');
      }

      function fail() {
        alert('수정 실패했습니다.');
      }

      httpRequest("PUT", `/api/items/${id}`, body, success, fail);
    });
  }
</script>

</body>
</html>